@import "tailwindcss";
#root {
  margin: 0;
  padding: 0;
  width:100%
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevents unwanted horizontal scrolling */
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0 , 0, 0.1);
    /* position: sticky; */
    /* top:0; */
    z-index: 1000;
}
.header-logo h2{
    margin:0;
    color: #333;
}
.nav-style ul{
    /* display: flex; */
    list-style:none;
    margin:0;
    gap:1.5 rem;
    justify-content: space-between;
}
.nav-style ul li{
    display: inline-block;
}
.header-logo a{
    text-decoration: none;
    color:#555;
    font-weight: 500;
    transition: color 0.2s ease;
}
.header-logo a:hover{
    background-color: #0070f3;
}
.header-btn button{
    background-color: #0070f3;
    color:#fff;
    border:none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor:pointer;
    font-weight: bold;
}
.header-btn:hover{
    background-color: #0051a8;
}